<div class="relative mx-auto">
    <div>
        <img class="absolute" src="./assets/galaxia.png" width="100%" height="100%" alt="">
    </div>
    <div class="container mx-auto z-10 absolute left-1/2 transform -translate-x-1/2">
        <h1 class="text-center text-white">Quiz Star Wars</h1>
        <div class="flex flex-col justify-center items-center" *ngFor="let item of quiz">
            <img [src]="item.img" alt="" class="w-[700px]">
            <div class="bg-white">
                <p>{{item.question}}</p>
                <div *ngFor="let opcao of item.answer">
                    <button>{{opcao.opcao1}}</button>
                    <button>{{opcao.opcao2}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
